@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  * {
    box-sizing: border-box;
    @apply selection:bg-orange-600 selection:text-white;
  }

  body {
    @apply bg-[#0f0f12] w-screen overflow-x-hidden
  }

  @font-face {
    font-family: 'mexonregular';
    src: url('./assets/fonts/webfontkit-20240718-152858/mexon-webfont.woff2') format('woff2'),
      url('./assets/fonts/webfontkit-20240718-152858/mexon-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }

  .logo {
    font-family: mexonregular;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .logoLoading {
    font-family: mexonregular;
    font-style: italic;
    font-weight: bold;
  }


  .homeSection {
    background-image: url(./assets/images/homeBg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @apply object-none object-center
  }

  .dropShadow {
    text-shadow: 0px 0px 15px black;
  }

  .dropShadowWhite {
    text-shadow: 0px 0px 15px white;
  }

  /* .autoCarousal{
    animation: alternate-reverse 25s 5s Carousal1 infinite ease-in-out;
  }
  @keyframes Carousal1{
    0%,5%{
      @apply translate-x-0
    }
    33% ,38%{
      @apply -translate-x-[100vw]
    }
    63%,68%{
      @apply -translate-x-[200vw]
    }
    
  } */
  .footer {
    box-shadow: 2px -3px 20px rgba(0, 0, 138, 0.56);
  }

}


@keyframes wave {

  0% {
    clip-path: polygon(0% 76%, 14% 80%, 29% 73%, 37% 78%, 51% 71%, 64% 68%, 71% 84%, 82% 72%, 94% 63%, 100% 79%, 100% 98%, 1% 100%);
  }

  25% {
    clip-path: polygon(0 59%, 17% 50%, 29% 67%, 40% 63%, 55% 53%, 60% 72%, 73% 56%, 84% 74%, 94% 65%, 100% 79%, 100% 98%, 1% 100%);
  }

  75% {
    clip-path: polygon(0 25%, 15% 25%, 23% 49%, 38% 25%, 49% 30%, 55% 57%, 65% 38%, 79% 44%, 88% 20%, 100% 24%, 100% 98%, 1% 100%);
  }

  100% {}

  100% {
    clip-path: polygon(0 0, 23% 0, 38% 0, 90% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 100%, 0 100%);
  }


}


.mainStroke {
  -webkit-text-stroke: white 1px;
  color: transparent !important;
}

.mainStroke>span {
  -webkit-text-stroke: #ff3e13 1px;
  color: transparent !important;
}

.backFill {

  color: white;
}

.backFill>span {
  color: #ff3e13;
}

.backFill {
  animation: wave 2s backwards ease-in-out;
}